/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(144,98,20);
  background: linear-gradient(250deg, rgba(144,98,20,1) 0%, rgba(255,215,0,1) 100%);
  border-radius: 5px;
}

body{
  background-color: #1e1f40;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  
}

.navbar {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  
}

.all-in-one{
  position: relative;
  left: 50px;
}
.all-in-one > a > img {
  width: 180px;
  cursor: pointer;
}

.nav {
  position: relative;
  right: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background: #1e1f40;
 /* border-bottom: #ffffff 1px solid; */
}



@media (max-width: 983px){
  .navbar {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    /* position: fixed; */
    z-index: 5;
  }

  .all-in-one{
    font-size: 30px;
    font-weight: bolder;
    color: #ffd700 ;
    justify-self: center;
    /* position: relative; */
    /* left: 50px; */
  }
  
  .nav {
    justify-self: center;
    display: flex;
    justify-content: center;

    /* position: relative; */
    /* right: 50px; */
  }
}
@media (max-width: 1252px){
  
  .all-in-one{
    font-size: 30px;
    font-weight: bolder;
    color: #ffd700 ;
    position: relative;
    left: auto;
  }

  .nav {
    position: relative;
    right: auto;
  }
  .nav-item > .nav-link{
    font-size: 18px;
    margin-left: auto;
  }


}
.nav-item > a{
  color: #ffffff ;
  padding: 1em;
  /* float: left; */
  text-decoration: none;
}

.nav-item > a:hover{
  color: #ffd700 ;
  cursor: pointer;
  /* float: left; */
  text-decoration: underline;
}

.nav-item > a{
  font-weight: bolder;
  white-space: 2px;
  font-size: 20px;
  margin-left: 10px;
}

.nav-item > div{
  color: #ffffff ;
  padding: 1em;
  /* float: left; */
  text-decoration: none;
}

.nav-item > div:hover{
  color: #ffd700 ;
  /* float: left; */
  text-decoration: underline;
}

.nav-item > div{
  font-size: 20px;
  margin-left: 10px;
}




/* ******************************************************** */

/* HOME */
.home{

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;
  row-gap: 5em;
  column-gap: 10em; 
  margin: 100px 0 100px 0;
  /* border-bottom: #ffffff 5px solid;  */
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  top: 60px;
  width: auto;
}

.cse-logo{
  /* border : #ffffff 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.description{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  text-align: center;
  /* margin-right: 2em; */
  /* margin-left: 2em; */
}

.description > p:nth-child(1){
  font-size: 40px;
  font-weight: bolder;
  color: #ffd700 ;
  text-align: start;
}

.description > p:nth-child(2){
  width: 30rem;
  font-size: 20px;
  text-align:justify;
  /* margin-right: 2em; */
  /* margin-left: 2em; */
  /* right: 40px; */
}

@media only screen and (max-width: 700px) { 
  .description > p:nth-child(2){
    width: 70%;
    font-size: 20px;
    text-align:justify;
    /* margin-right: 2em; */
    /* margin-left: 2em; */
    /* right: 40px; */
  }

 
}
  /* ******************************************************** */

/* Join */

.join {
  padding: 1em;
  /* background-color: #ffd700 ; */
  border-top: #ffffff 5px solid;
  border-bottom: #ffffff 5px solid; 
  color: #1e1f40;
  font-size: 40px;
  font-weight: bolder;
  display: flex;
  /* grid-template-columns: 1fr ; */
  text-align: center;
  justify-content: center;
}
.join >a:hover{
 /* color: white ; 
 
  background: rgb(144,98,20);
  background: linear-gradient(299deg, rgba(144,98,20,1) 0%, rgba(255,215,0,1) 100%); */
  animation: animate 1s linear;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }

  100%{
    background-position: 500px 0;
  
  }
}

.join > a{
  width: 500px;
  text-align: center;
 /* color: #1e1f40;
  background: #ffd700;*/
  color: white;
  background: rgb(144,98,20);
  background: linear-gradient(299deg, rgba(144,98,20,1) 0%, rgba(255,215,0,1) 100%);
  font-size: 30px;
  font-weight:1em;
  padding: 10px 5px 10px 5px;
  letter-spacing: 3px;
  text-decoration: none;
  border-radius: 10px;
  transition: 0.5s;
}

@media only screen and (max-width: 700px) { 
  

  .join > a{
    width: 300px;
    text-align: center;
   /* color: #1e1f40;
    background: #ffd700;*/
    color: white;
    background: rgb(144,98,20);
    background: linear-gradient(299deg, rgba(144,98,20,1) 0%, rgba(255,215,0,1) 100%);
    font-size: 30px;
    font-weight:1em;
    padding: 10px 5px 10px 5px;
    letter-spacing: 3px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.5s;
  }
}




/* ******************************************************** */

/* Clubs */
.clubs {
  display: flex;
  flex-direction: column;
  border-bottom: #ffffff 5px solid; 
}

.title {
  margin-bottom: 50px;
  margin-top: 50px;
  color: #ffffff;
  font-size: 50px;
  font-weight:bold;
  display: grid;
  grid-template-columns: 1fr ;
  text-align: center;
  letter-spacing: 1px;
}

.carousel-inner {
  width: auto;
  height:  auto;
  margin-bottom: 30px;
}

.club{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;
  gap: 3em;
}
.club-logo{
  width: 300px;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-logo > img {
  width : 170px;

}

.club-description{
  width: 500px;
  height: auto;
  text-align: center;
}

@media only screen and (max-width: 700px) { 

  .club-description{
    width: 75%;
    height: auto;
    text-align: center;
  }

}

.club-description > p:nth-child(1){
  font-size: 30px;
  font-weight: bolder;
  color: #ffd700 ;
  text-align: center;
}

.club-description > p:nth-child(2){
  font-size: 20px;
  position: relative;
  top: 20px;
  text-align:justify;
}



/* ******************************************************** */

/* Speakers */

.speakers , .workshops , .orgnizers , .contacts , .footer{
  display: flex;
  flex-direction: column;
  border-bottom: #ffffff 5px solid; 
  color: #1e1f40;
  font-size: 20px;
  /* font-weight: bolder; */
  text-align: center;
}

.carousel-inner {
  height:  auto;
  margin-bottom: 30px;
}

.speaker-section , .workshop-section{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content:center;
  margin: 20px 0 30px 0;
  gap: 3em;
}

.speaker{
  width: 300px;
  height: 380px;
  background: #ffd700;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  margin-bottom: 15px;
}


.speaker:hover{
  transform: scale(1.02);
}

.speaker > img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.speaker_name{
  font-weight: bold;
  font-size: 1.2em;
}
/* .speaker-img{
  width: 90%;
  z-index: 0;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
} */

.speaker-description{
  width: 100%;
  position: relative;
  bottom: 20px;
}

/* ******************************************************** */

/* Agenda */

.agenda{
  /* display: flex;
  flex-direction: column; */
  border-bottom: #ffffff 10px solid; 
}


.workshop-content{
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  row-gap: 3em;
  column-gap: 10em; 
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
  /* border: #ffffff 2px dotted; */
}


.workshop-content > div:nth-child(odd){
  justify-self: end;
  align-self: center;
  border-radius: 5px;
}

.workshop-content > div:nth-child(even){
  justify-content: start;
  align-self: center;
  border-radius: 5px; 
}

.workshop-content > .date{
  width: 200px;
  text-align: center;
  background: #1e1f40;
  font-size: 25px;
  color: #ffd700;
  border-top: #ffd700 2px solid;
  border-bottom: #ffd700 2px solid;

}

.workshop-content > .content{
  width: 500px;
  text-align: center;
  color: #1e1f40;
  background: #ffd700;
  font-size: 22px;
  /* font-weight:500; */
  padding: 10px 5px 10px 5px;
}

@media only screen and (max-width: 1250px) {
  /* .workshop-content {
    width: 80%;
  } */
  .workshop-content > .content{
    width: 90%;
    text-align: center;
    color: #1e1f40;
    background: #ffd700;
    font-size: 15px;
    font-weight: 900;
    padding: 10px 5px 10px 5px;
  }

  /* .workshop-content > .date{
    width: 90%;
    text-align: center;
    background: #1e1f40;
    font-size: 25px;
    color: #ffd700;
    border-top: #ffd700 2px solid;
    border-bottom: #ffd700 2px solid;
  
  } */
}


.line {

  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color:#ffd700;
}

.line-top , .line-bottom{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color:#ffd700;
  border-radius: 50%;
}

.line-top{
  top: 0;
}

.line-bottom{
  bottom: 0;
}

.timeline{
  position: relative;
  margin-top: 20px;
}

.img-right , .img-left{
  background-color: #ffffff;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.img-left > img , .img-right > img {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date{
  position: relative;
}
.date > p{
  margin-bottom: 0;
  margin-top: 0;
}
.img-left{
  position: absolute;
  left: 255px;
  top: -7px;
} 


.img-right{
  position: absolute;
  right: 255px;
  top: -7px;
} 


.workshop{
  padding-top: 20px;
  text-align: center;
  height: 400px;
  width: 300px;
  background-color:#ffd700 ;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-bottom: 15px;
}
.workshop:hover{
  transform: scale(1.02);
}


.workshop-title{
  width: 70%;
  font-size: 30px;
  font-weight: bolder;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #1e1f40 2px solid;
}

.workshop-description{
  margin-top: 30px;
  width: 80%;
  font-size: 20px; 
  font-weight:500;
}


.orgnizer-img {
  margin-top: 0px;
  margin-bottom: 50px;
 
}



.orgnizer-img > img{
  width: 200px;
  animation: logo-anim 5s linear infinite;
}
@keyframes logo-anim{
  0%{
    transform: translateY(0px);

  }
  50%{
    transform: translateY(30px);
  }
  100%{
    transform: translateY(0px);

  }
}

.contacts{
  border: 0px;
}
.contacts-links {
  display: inline;
  margin-bottom: 50px;
  /* color: #; */
}



.contacts-links > *{
  margin: 5px 10px 5px 10px;
}

.contacts-links > * > img:hover{
  transform: scale(1.25);
}

.contacts-links > a > img {
  width: 50px;
  height: 50px;
}


.footer{
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}

.gotop {
  cursor: pointer;
  background: #1e1f40;
  width: 45px;
  height: 50px;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
  border-radius: 30px 0px 0px 30px;
  top: 85%;
  right: 0px;
  z-index: 1000;
}
.progress-container {

  width: 100%;
  height: 2.5px;
  background: #ccc;
  bottom: 0;
  left: 0;
}

.progress-bar {
  height: 3px;
  background:#ffd700 ;
  border-radius: 0 20px 20px 0;
  width: 0%;
  transition: all 0.1s;
}
